body {
    margin: 0;
    background-image: url(/images/bg-img.jpg) ;
    width: 100%;
    height: 100%;
}

#navbar {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    /* position: fixed; */
}

#navbar h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: #ad8484;
    font-size: 35px;
    letter-spacing: 2px;
}

#navbar #namaste {
    height: 75px;
    width: 75px;
    margin-top: 10px;
    margin-left: 35px;
}

#navbar #left {
    position: absolute;
    left: 50%;
    top: 3%;
    list-style: none;
    display: flex;
}

#navbar #left li {
    margin: 0 22px;
    font-size: 30px;
}

#navbar #left li a {
    text-decoration: none;
    color: #8f5b5b;
    transition: 1s;
}

#navbar #left li a:hover {
    text-decoration: underline;
    color: #014638;
    font-size: 32px;
}

.site-header {
    /* background-color: #1bbc9b; */
    color: #299f8c;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content {
    margin: 10px;
}

.profile-pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: #014638 2px 5px 5px;
}

.course-link {
    color: #e1f8f4;
}

#education {
    /* background-color: rgb(60, 176, 138); */
    font-family: monospace;
}

#education h1 {
    font-size: 40px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
}

#education div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#education div div {
    width: 300px;
    height: 250px;
    flex-direction: column;
    border-radius: 25px;
    margin: 0 10px;
    padding: 7px;
    text-align: center;
}

#education div div:hover {
    background-color: #068a70;
    cursor: pointer;
}

#education div div h3 {
    font-size: 25px;
    text-decoration: underline;
}

#education div div p {
    font-size: 20px;
}

#projects {
    margin-top: 6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #014638;
}

#projects > h1 {
    font-size: 40px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects .center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#projects .size {
    height: 250px;
    width: 425px;
    margin: 15px 15px;
}

.mobile-version {
    display: none;
}

#contact {
    /* background-color: #61958b; */
    margin-top: 4rem;
}

#contact > h1 {
    font-size: 40px;
    padding-top: 25px;
    margin-bottom: 10px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.height-width{
    width: 300px;
    height: 250px;
    flex-direction: column;
    /* background-color: #d0b7b7; */
    /* border: 2px solid #014638; */
    border-radius: 25px;
    margin: 0 10px;
}

.height-width h1 a{
    text-decoration: none;
    color: #5b5858;
}

.height-width h1 a:hover{
    text-decoration: underline;
    color: #8f5b5b;
}


@media screen and (max-width: 426px) {
    body {
        max-width: 100%;
        max-height: 100%;
    }

    #navbar #left {
        display: none;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #namaste {
        border-radius: 3px;
        margin-left: -50px !important;
    }

    .site-header {
        text-align: center;
    }

    #education div {
        flex-direction: column;
    }

    #pg h3, #ug h3, #twelve h3, #tenth h3 {
        color: #ac5e5e;
        text-decoration: underline;
    }

    .mar {
        margin-top: 1px;
    }

    #education > h1, #projects > h1,#contact > h1 {
        font-size: 30px;
    }

    #education div div {
        width: 207px;
        height: 175px;
    }

    #education div div h3 {
        font-size: 20px;
    }
    
    #education div div p {
        font-size: 16px;
        color: #8f5b5b;
    }

    #projects .center {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #projects .size {
        width: 300px;
        height: 175px;
        margin: 10px 0;
    }

    #contact div {
        flex-direction: column;
    }

    .height-width img {
        display: none;
    }
    
    .height-width {
        width: fit-content;
        height: 55px;
    }
    
    .height-width h1 a {
        font-size: 20px;
        color: #873d3d;
    }
}